<head>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <style>
        table {
            border-spacing: 0;
        }
        td, th {
            border: 1px solid grey;
            width: 2em;
            height: 2em;
        }
        td { 
            background-color: cornflowerblue;
        }
        td.ship {
            background-color: brown;
        }
    </style>
</head>

<body>
    <div id="app">
        <div>
            <table>
                <tr>
                    <th style="background-color: cornflowerblue;"></th>
                    <th v-for="col in cols">{{col}}</th>
                </tr>
                <tr v-for="(row, rowIndex) in rows">
                    <th>{{row}}</th>
                    <td v-for="(col, colIndex) in cols" v-on:click="changeColor" v-bind:class="{ship:isShip(rowIndex,colIndex)}"></td>
                </tr>
            </table>
            <p>{{lastAction}}</p>
        </div>
        <button>Clear board</button>
    </div>

    <script>
        const size = 10
        const app = new Vue({
            el: '#app',
            data: {
                rows: Array.from({length:size},(_,idx)=>String.fromCharCode(65 + idx)),
                cols: Array.from({length:size},(_,idx)=>idx+1),
                shipLocations: Array.from({length:size},() => Array.from({length: size},()=> false )),
                clickedRow: 0,
                clickedCol: 0
            },
            computed: {
                lastAction: function() {
                    return 'Row: '+ this.clickedRow +' Column: '+ this.clickedCol}
            },
            methods: {
                changeColor: function(event) {
                    this.clickedRow= event.target.parentElement.rowIndex - 1
                    this.clickedCol= event.target.cellIndex - 1
                    this.shipLocations[this.clickedRow][this.clickedCol]=!this.shipLocations[this.clickedRow][this.clickedCol]
                    this.$forceUpdate()
                },
                isShip: function(row, col) {
                    return this.shipLocations[row][col]
                }
            }
        })
    </script>
</body>