<head>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <style>
        table {
            border-spacing: 0;
        }
        td, th {
            border: 1px solid grey;
            width: 2em;
            height: 2em;
        }
        td { 
            background-color: cornflowerblue;
        }
        td.ship {
            background-color: brown;
        }
        td.moving-ship {
            background-color: chocolate;
        }
        td.invalid-moving-ship {
            background-color: darksalmon;
        }
    </style>
</head>

<body>
    <div id="app">
        <div>
            <table v-on:mouseleave="cancelMoveShip">
                <tr>
                    <th style="background-color: cornflowerblue;"></th>
                    <th v-for="col in cols">{{col}}</th>
                </tr>
                <tr v-for="(row, rowIndex) in rows">
                    <th>{{row}}</th>
                    <td v-for="(col, colIndex) in cols"
                        v-on:click="placeShip"
                        v-on:mousemove="moveShip"
                        v-bind:class="shipLocations[rowIndex][colIndex]"
                    ></td>
                </tr>
            </table>
            <p>{{lastAction}}</p>
        </div>
        <button v-on:click="clearBoard">Clear board</button>
        <button v-on:click="placingShip = 1 - placingShip">Place ship</button>
    </div>

    <script>
        const size = 10
        const cells = {EMPTY: '', SHIP: 'ship', MOVING_SHIP: 'moving-ship', INVALID: 'invalid-moving-ship'}
        const app = new Vue({
            el: '#app',
            data: {
                rows: Array.from({length:size},(_,idx)=>String.fromCharCode(65 + idx)),
                cols: Array.from({length:size},(_,idx)=>idx+1),
                shipLocations: Array.from({length:size},() => Array.from({length: size}, () => cells.EMPTY )),
                clickedRow: 0,
                clickedCol: 0,
                placingShip: 0,
            },
            computed: {
                lastAction: function() {
                    return 'Row: '+ this.clickedRow +' Column: '+ this.clickedCol},
            },
            methods: {
                placeShip: function(event) {
                    if (this.placingShip) {
                        this.shipLocations = this.shipLocations.map((row, rowIndex) => row.map((col, colIndex) => {
                            if (col === cells.MOVING_SHIP) col = cells.SHIP
                                return col
                        }))
                    }
                },
                moveShip: function(event) {
                    if (this.placingShip) {
                        const mouseRow = event.target.parentElement.rowIndex - 1
                        const mouseCol = event.target.cellIndex - 1
                        this.shipLocations = this.shipLocations.map((row, rowIndex) => row.map((col, colIndex) => {
                            if (rowIndex >= mouseRow - 1 && rowIndex <= mouseRow + 1 && colIndex === mouseCol) {
                                if (col != cells.SHIP) {
                                    if (mouseRow > 0 && mouseRow < size - 1 &&
                                        this.checkOtherShips(mouseRow - 2, mouseCol - 1, mouseRow + 2, mouseCol + 1)) col = cells.MOVING_SHIP
                                    else col = cells.INVALID
                                }
                            } else if (col != cells.SHIP) col = cells.EMPTY
                            return col
                        }))
                    }
                },
                checkOtherShips: function(r1, c1, r2, c2) {
                    if (r1 < 0) r1 = 0
                    if (c1 < 0) c1 = 0
                    return this.shipLocations.slice(r1, r2 + 1).every(row => row.slice(c1, c2 + 1).every(col => col != cells.SHIP))
                },
                cancelMoveShip: function() {
                    this.shipLocations = this.shipLocations.map((row, rowIndex) => row.map((col, colIndex) => {
                        if (col != cells.SHIP) col = cells.EMPTY
                            return col
                    }))
                },
                clearBoard: function() {
                    this.shipLocations = this.shipLocations.map(row => row.map(_ => cells.EMPTY))
                },
            }
        })
    </script>
</body>